* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;

}

a {
    text-decoration: none;

}

img {
    width: 100px;
    height: 40px;
} 
.material-symbols-outlined{
    margin-top: 40px;
}
#cancel {
    cursor: pointer;
    transform: scale(1.5);
    color: red; 
    margin-left: 120px;
}
#done {
    transform: scale(1.5);
    cursor: pointer;
    color: green;
    margin-left: 60px;
}

nav {
    height: 61px;
    display: flex;
    flex-direction: row;
    gap: 55%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.nav {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 8%;
    font-size: 14px;
    font-weight: 500;
}

.nav-upload a,
.nav-log a,
.nav-purchase a {
    letter-spacing: 0.40px;
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.60);
    cursor: pointer;
}

.nav-home a {
    color: #1677FF;
    font-weight: 600;
    border-bottom: 3px #1677FF solid;
    padding: 0 10px;
    cursor: pointer;
}

.search {
    width: 85%;
}

main {
    width: 89%;
}

.search {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#search {
    width: 100%;
    height: 56px;
    border-radius: 10px;
    padding-left: 60px;
    font-size: 16px;
}

#search::placeholder {
    opacity: 0.5;
    /* Để giảm độ đậm của placeholder */
    font-size: 16px;
}

#search:focus::placeholder {
    opacity: 0;
    /* Ẩn placeholder khi input được focus */
}

.search img {
    width: 25px;
    height: 25px;
}

.search .search-icon-black {
    position: absolute;
    top: 87px;
    left: 85px;
}

.search #area {
    position: absolute;
    width: 228px;
    height: 48px;
    padding-left: 20px;
    top: 77px;
    right: 170px;
    border-radius: 10px;
    color: #8D8B8B;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    cursor: pointer;
}

.search button {
    background-color: rgba(22, 119, 255, 1);
    height: 48px;
    padding: 0 24px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 80px;
}

main {
    display: grid;
    grid-template-columns: 1fr 400px;
}

.sort {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.sort p {
    color: #555555;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-left: 10px;
}

.sort .sort-content {
    color: #555555;
    font-size: 12px;
    font-family: Inter;
    font-weight: 300;
    line-height: 26px;
    word-wrap: break-word;
    padding: 0 10px;
    border-radius: 5px;
    border: 0.50px rgba(143.37, 143.37, 143.37, 0.50) solid;
    cursor: pointer;
}

main {
    margin: 0 auto;
}
main .main-right img {
    float: right;
    width: 339px;
    height: 613px;
}

main hr {
    margin-top: 20px;
    margin-left: 60px;
    width: 584px;
}

main .inforfile {
    display: flex;
    flex-direction: row;
    margin-left: 37px;
    margin-top: 35px;
}

main .inforfile img {
    width: 114px;
    height: 102px;
    
}

main .inforfile .inforfile-student {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 19px;
}

main .inforfile .inforfile-student p {
    color: #7C7C7C;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word
}

main .main-left .donthave{
    padding-top: 56px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
main .main-left .numberpage {
    position: relative;
    padding-bottom: 20px;
    top:27px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center; /* Thêm dòng này để căn giữa theo chiều ngang */
    gap: 12px;
}

main .main-left .numberpage a {
    border-radius: 50%;
    background-color: rgba(225, 226, 236, 1);
    padding: 10px 15px;
    color: white;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.50px;
    word-wrap: break-word;
    
    /* Thêm border vào hình tròn */
    border: 2px solid #fff; /* Thay đổi màu sắc và kích thước border nếu cần */
    box-sizing: border-box; /* Đảm bảo border không làm tăng kích thước của phần tử */
    
    /* Thêm tiền tố vendor cho border-radius */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
#light{
    background-color: #1677FF;
}
@media only screen and (max-width: 1200px) {
    .search .search-icon-black {
        left: 75px; /* Hoặc bất kỳ giá trị nào bạn muốn thay đổi khi độ rộng bé hơn 1200px */
    }
    .search button{
        right: 80px;
    }
}
@media only screen and (max-width: 768px) {
    main{
        grid-template-columns: 1fr;
    }
    main .main-right {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    nav{
        gap: 35%;
    }
    .search .search-icon-black{
        left: 65px;
    }
    .search button{
        right: 50px;
    }
    .search #area{
        right: 130px;
    }
}
@media only screen and (max-width: 991.98px) {
    main{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 575.98px) {
    .search button{
        right: 5px;
    }
    .search #area{
        width: 120px;
        right: 80px;
    }
    .search .search-icon-black{
        left: 10px;
    }
    nav{
        width: 100%;
        gap: 10px;
    }
    main hr {
        width: 200px;
        margin-left: 14px;
    }
    
    main .inforfile {
        display: flex;
        flex-direction: row;
        margin-left: 14px;
        margin-top: 20px;
    }
    #cancel {
        cursor: pointer;
        transform: scale(1.5);
        color: red; 
        margin-left: 15px;
    }
    #done {
        transform: scale(1.5);
        cursor: pointer;
        color: green;
        margin-left: 15px;
    }
    
}